
<ion-content>

  <body>
    <div class="container">
      <div class="title">Add Company Details</div>
      <div class="content">
        <form [formGroup]="form" (submit)="add(form)">
          <div class="user-details">
            <div class="input-box">
              <span class="details">Company Name*</span>
              <input type="text" placeholder="Enter Company Name" required formControlName="companyName">
            </div>
            <div class="input-box">
              <span class="details">Email*</span>
              <input type="text" placeholder="Enter Company Email" required formControlName="Email">
            </div>
            <div class="input-box">
              <span class="details">GST No*</span>
              <input type="text" placeholder="Enter Comapny GST Number" required formControlName="GSTNo">
            </div>

            <div class="input-box">
              <span class="details">Phone Number</span>
              <input type="text" placeholder="Enter Company Number" required formControlName="phoneNumber">
            </div>


            <div class="input-box">
              <span class="details">State*</span>
              <input type="text" placeholder="Enter Company State" required formControlName="State">
            </div>
            <div class="input-box">
              <span class="details">State Code*</span>
              <input type="text" placeholder="Enter Company City" required formControlName="stateCode">
            </div>
          </div>
          <div class="input-box">
            <span class="details">Address</span>
            <ion-textarea class="myarea" placeholder="Enter Company Address" formControlName="Address"></ion-textarea>
          </div>
          <div class="button">
            <input type="submit" value="Add Company">
          </div>
        </form>
      </div>
    </div>

  </body>


  </ion-content>
