<ion-content>
  <body>
    <div class="container d-flex justify-content-center align-items-center vh-100">
       <div class="bg-white text-center p-5 mt-3 center myclass">
          <label><ion-icon name="lock-closed"></ion-icon></label>
          <h3>Forgot Password </h3>
          <p>Enter Your Username</p>
          <form class="pb-3" [formGroup]="form" (submit)="check(form)">
             <div class="form-group">
                <input type="text" class="form-control" placeholder="Your Username*" formControlName="Username" required>
             </div>
             <button type="submit" class="btn">Reset Password</button>
          </form>
       </div>
    </div>
 </body>
</ion-content>
