

<ion-content>
  <body>
    <div class="container d-flex justify-content-center align-items-center vh-100">
       <div class="bg-white text-center p-5 mt-3 center myclass">
          <label><ion-icon class="iconmy" name="lock-closed-outline"></ion-icon></label>
          <h3>Change Password </h3>
          <p>Enter Your New Password</p>
          <form class="pb-3" [formGroup]="form" (submit)="onSubmit(form)">
             <div class="form-group">
              <ion-item>
                <input type="text" class="form-control" placeholder="Your Username*" formControlName="Username" required>
              </ion-item>
              <ion-item>
                <input  [type]="showPassword ? 'text' : 'password'" class="form-control" placeholder="New Password*" formControlName="Password" required>
                <ion-icon class="myicon" [name]="passwordToggleIcon" (click)="togglePassword()" ></ion-icon>
              </ion-item>

             </div>

             <button type="button" class="btn" type="submit">Change Password</button>
          </form>
        </div>
    </div>
 </body>
</ion-content>
