<ion-content class="ion-padding">
    <!-- <ion-list *ngFor="let data of datauser">
        <ion-item *ngIf="data.Fullname==show || data.Fullname==showw ">
          <ion-label>{{data.Fullname}}</ion-label>
          <ion-label>{{data.Email}}</ion-label>
          <ion-label>{{data.Phone}}</ion-label>
        </ion-item>
      </ion-list> -->

      <!-- <h1 *ngIf="show=='rahul'">
         Hiii Hello world
      </h1> -->


      <!-- <ion-list>
        <ion-item>
          <ion-select placeholder="Select fruit">
            <ion-select-option value="apples">Apples</ion-select-option>
            <ion-select-option value="oranges">Oranges</ion-select-option>
            <ion-select-option value="bananas">Bananas</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list> -->

      
        <!-- <ion-list *ngFor="let data of datauser">
            <ion-item *ngIf="data.Fullname==show || data.Fullname==showw">
              <ion-label>{{data.Fullname}}</ion-label>
              <ion-label>{{data.Email}}</ion-label>
              <ion-label>{{data.Phone}}</ion-label>
            </ion-item>
          </ion-list> -->

     
      

    
        <!-- <ion-list *ngFor="let data of datauser">
          <ion-item *ngIf="data.Fullname=='rahul'">
            <ion-label>{{data.Fullname}}</ion-label>
            <ion-label>{{data.Email}}</ion-label>
            <ion-label>{{data.Phone}}</ion-label>
          </ion-item>
        </ion-list> -->

       
       

         

       
     
</ion-content>